<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @keyword.word %>
</p>

<h2>Latest Tweets (<%= @tweets.count %>)</h2>
<ul>
	<% @tweets.each do |tweet| %>
		<li><img src="<%= tweet.user_image_url %>" width="30"> <%= tweet.user_screen_name %>: <%= tweet.text %></li>
	<% end %>		
</ul>

<%= will_paginate @tweets %>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
