<!DOCTYPE html>
<html>
<head>
  <title>Tweetitor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Tweetitor</h1>
<hr>

<%= yield %>

<hr>
<div style="text-align:center">Tweetitor</div>

</body>
</html>
